{% extends 'base.html' %}
{% block content %}
<h2>Add Employee</h2>
<form method="POST">
    <label for="First_name">First Name:</label>
    <input type="text" id="First_name" name="First_name" required>
    <br>
    <label for="Last_name">Last Name:</label>
    <input type="text" id="last_name" name="Last_name" required>
    <br>
    <label for="Email">Email:</label>
    <input type="Email" id="Email" name="Email" required>
    <br>
    <label for="Phone">Phone:</label>
    <input type="text" id="Phone" name="Phone" required>
    <br>
    <label for="Department">Department:</label>
    <select name="Department" id="Department" required>
        <option value="">Select Department</option>
        <option value="HR">HR</option>
        <option value="IT">IT</option>
        <option value="Sales">Sales</option>
    </select>                                                                                                         
   
    <button type="submit">Add Employee</button>
</form>
{% endblock %}



